.button {
    background-color: var(--surface2);
    block-size: var(--size-6);
    border: var(--border-size-1) solid var(--surface4);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    color: var(--text1);
    font-family: var(--font-mono);
    font-size: var(--font-size-0);
    inline-size: fit-content;
    letter-spacing: var(--font-letterspacing-1);
    text-transform: uppercase;

    &[data-variant="primary"] {
        background-color: var(--red-8);
        border: var(--border-size-1) solid var(--red-8);
        color: var(--red-0);

        & svg {
            stroke-width: 4;
        }
    }

    &[data-variant="secondary"] {
        background-color: var(--gray-6);
        border-color: var(--gray-6);
        color: var(--gray-0);

        & svg {
            stroke-width: 4;
        }
    }

    &[data-variant="round"] {
        aspect-ratio: var(--ratio-square);
        background-color: var(--surface2);
        block-size: var(--size-6);
        border: var(--border-size-1) solid var(--surface4);
        border-radius: var(--radius-round);
        box-shadow: var(--shadow-1);
    }

    &[data-full-width] {
        inline-size: 100%;
    }
}

[data-loading="true"] {
    & svg {
        animation: var(--animation-spin);
    }
}

[disabled] {
    opacity: 0.625;
}
