.button {
    background-color: var(--surface2);
    block-size: var(--size-6);
    border: var(--border-size-1) solid var(--surface4);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    color: var(--text1);
    font-family: var(--font-mono);
    font-size: var(--font-size-0);
    inline-size: fit-content;
    letter-spacing: var(--font-letterspacing-1);
    text-transform: uppercase;

    &[data-variant="primary"] {
        background-color: var(--red-8);
        border: var(--border-size-1) solid var(--red-8);
        color: var(--red-0);
    }

    &[data-variant="secondary"] {
        color: var(--text2);
    }

    &[data-full-width] {
        inline-size: 100%;
    }
}
