.heading {
    color: var(--stone-10);
    font-size: var(--font-size-fluid-2);
    letter-spacing: var(--font-letterspacing-0);
}

.label {
    font-size: var(--font-size-0);
}

.input {
    inline-size: max(15ch, 100%);
}