.lineGraph {
    border: 1px solid var(--surface2);
    position: relative;
    min-block-size: 150px;
}

.lines,
.points {
    display: grid;
    grid-template-columns: repeat(var(--columns, 7), 1fr);
    grid-template-rows: repeat(var(--rows, 7), 1fr);
    justify-items: center;
    position: absolute;
    inset: 0;
}

.lines {
    .line[data-axis="x"] {
        background-color: hsl(0 0% 0% / 0.2);
        block-size: 1px;
        grid-column: 1 / -1;
        inline-size: 100%;
    }

    .line[data-axis="y"] {
        background-color: hsl(0 0% 0% / 0.2);
        block-size: 100%;
        grid-row: 1 / -1;
        inline-size: 1px;
    }
}

.points {
    .point {
        aspect-ratio: 1;
        block-size: 1ex;
        background-color: var(--indigo-9);
        border-radius: 1ex;
        margin: 1ex;
        position: relative;

        &::after {
            content: attr(data-point);
            font-size: var(--font-size-0);
            inset-block-start: 2ex;
            inset-inline-start: 50%;
            translate: -50% 0;
            position: absolute;
        }
    }
}
