.dayHeading {
    font-weight: var(--font-weight-4);
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.dailyTotals {
    margin-block-start: 0;
}

.meal {
    flex-wrap: nowrap;
}

.label {
    font-family: var(--font-mono);
    font-size: var(--font-size-00);
    font-weight: var(--font-weight-3);
    letter-spacing: var(--font-letterspacing-3);
    text-transform: uppercase;
}

[data-locked="true"] {
    .displayName {
        opacity: 0.625;
    }

    & button {
        border-color: var(--yellow-9) !important;

        & svg {
            stroke: var(--yellow-9);
        }
    }
}
