.starRating {
    background-color: transparent;
    border: 0;
    color: var(--yellow-6);
    font-size: var(--font-size-3);
    padding-block: var(--size-1);
    padding-inline: 0;

    &.active svg {
        fill: var(--yellow-6);
    }
}

.small {
    font-family: var(--font-mono);
    font-size: var(--font-size-00);
    font-weight: var(--font-weight-3);
    letter-spacing: var(--font-letterspacing-3);
    text-transform: uppercase;
}
