.branding {
    color: var(--brand);
    font-family: "Syne";
    font-weight: var(--font-weight-7);
    letter-spacing: var(--font-letterspacing-0);
    margin-block: var(--size-6);
    text-align: center;
}

.form {
    min-inline-size: min(250px, 80vw);
}