body:has(.formWrapper) {
    background-color: var(--gray-9);
    color: var(--gray-3)
}

.heading {
    font-size: var(--font-size-2);
}

.form {
    background-color: var(--gray-8);
    border-block-start: var(--border-size-1) solid var(--gray-7);
    border-block-end: var(--border-size-1) solid var(--gray-10);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-6);
    padding: var(--size-5);
}

.label {
    font-size: var(--font-size-0);
    color: var(--gray-5);
}

.input {
    background-color: var(--gray-8);
    border-block-end: var(--border-size-1) solid var(--gray-6) !important;
}

.submitButton {
    align-self: end;
    background-color: var(--blue-6);
    border: 0;
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-2);
    color: var(--blue-0);
    font-weight: var(--font-weight-6);
    letter-spacing: var(--font-letterspacing-2);
    padding: var(--size-2) var(--size-3);
    text-transform: uppercase;
}