.branding {
    color: var(--brand);
    font-family: "Plus Jakarta Sans";
    font-weight: var(--font-weight-3);
    letter-spacing: var(--font-letterspacing-0);
    margin-block: var(--size-6);
    text-align: center;
}